{% extends 'base.html.twig' %}

{% block body %}
    <h1>FoodSupplier creation</h1>

    {{ form_start(form, {attr: {'id': 'food-supplier-form'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('foodsupplier_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
