{% extends 'base.html.twig' %}

{% block body %}
    <h1>MenuItem creation</h1>

    {{ form_start(form, {attr: {id: 'menu-item-form'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('foodsupplier_show', {'id': menuItem.foodSupplier.id}) }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
